/*========================================
Default values are with a mobile-first perspective
======================================

Project: responsive mobile-first navigation bar;
Author: Brandon Dail;
Copyright: MIT;
Max-usefullness: minimal;

*/




@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
  }

.container-principal {
    position: relative;
}

.bio-principal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 37%;
    height: auto;
}

.text-e-logo {
    position: relative;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0 30px;
    align-items: flex-end;
    min-height: calc(100dvh - 100px);
    line-height: 1.1;

}

.texts-logo {
    display: flex;
    flex-direction: row;
    align-items: start;

}

.text-vote {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: center;
}

.vote-container {
    display: flex;
}

.text1 {
    writing-mode: vertical-rl; /* Alinha o texto na vertical, de baixo para cima */
    transform: rotate(180deg); /* Inverte a direção para que o texto seja lido de cima para baixo */
    font-size: 7rem; /* Ajuste o tamanho da fonte conforme necessário */
    margin-top: 35px;
}

.number-vote {
    font-size: 25rem;
    color: #fcbd00;
}

.text2 {
    font-size: 7.5rem;
}

.centralizar-text3 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text3 {
    text-align: center;
    font-size: 3rem;
}

.text3-1 {
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
}

.text3-2 {
    font-weight: 800;
    font-size: 6.5rem;
    color: #fcbd00;
}

.text3-3 {
    font-weight: 700;
    font-size: 4rem;
    color: #fff;
}

.logo-cabo-moraes {
    width: 23%;
    height: auto;
    margin-bottom: 10px;
}


.linha {
    height: 6px;
    background-color: #fcbd00;
}



/*           Wrapper
==============================*/

#wrapper {
    /*background-image: url('../yosemite.jpg');
background-size: cover;*/
    background: tomato;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}

/*classes used to push the wrapper down when the navbar is expanded
*/

.open_wrapper {
    top: 200px !important;
}

.closed_wrapper {
    top: 0px !important;
}

/*      Navigation Bar
==============================*/

#m_nav_container {
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, rgba(0, 163, 255, 1) 0%, rgba(26, 0, 153, 1) 100%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /*	opacity: 0;*/
    top: 0px;
    
}

#m_nav_bar {
    width: 80%;
    margin: auto;
}

#m_nav_list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m_nav_item a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    -webkit-transition-duration: 0.5s;
    padding: 0.5em;
}

.m_nav_item a:hover {
    color: #ff9800;
    background: white;
    border-radius: 2rem;
}

/*classes for jQuery function*/

.container_open {
    position: fixed !important;
    display: block;
    height: 120px;
}

/*  Navigation Hamburger Icon
==============================*/

/*icon container*/

#m_nav_menu {
    display: none;
    position: fixed;
    top: 30px;
    right: 221px;
    z-index: 3;
    cursor: pointer;
    padding: .5em;
    background: #fcbd00;
    border-radius: 10px;
}

/*class applied to create the lines*/

.m_nav_ham {
    width: 35px;
    height: 5px;
    background: #000;
    margin: 5px auto;
}

.m_nav_ham_1_open {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 15px;
}

.m_nav_ham_2_open {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -10px;
}

.m_nav_ham_3_open {
    opacity: 0;
}

/*classes used to change the button's format based on jquery toggle
In future releases this will be used to animate the m_nav_ham divs to form 
an X*/

.button_open {
    background: #000;
    /*	-webkit-transform: rotate(45deg);*/
}

.button_closed {}

/*      Header
==============================*/

#header {
    width: 100%;
    height: 700px;
    /*background-image: url('../yosemite.jpg');
	background-size: cover;*/
    /*	background: #4787ff*/
    float: left;
    text-align: center;
    margin-top: 0px;
}

/*#header*/

/* Propostas */

.container-propostas {
    background-image: url(../images/cb.webp);
    
}

.card-propostas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-propostas img {
    margin-top: 2rem;
    width: 100px;
}

.card-propostas p {
    font-size: 3rem;
    color: #003d8f;
}

/* animação img */
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
/* animação img */

/* animação button */
.pulse {
    text-decoration: none;
    color: #fff;
    margin: 15px;
    border-radius: 20px;
    background-color: #15ee11;
    padding: 20px;
    font-size: 1.8rem;
    
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

.pulse:hover {
    color: #fff;
    background-color: #11820f;
}

@keyframes pulse {
	0% {
		transform: scale(0.70);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
        transform: scale(1);
		box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
	}
    
	100% {
		transform: scale(0.70);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
/* animação button */

/* Propostas */

/*      Sections
==============================*/

.main_sections {
    width: 100%;
    height: 1100px;
    text-align: center;
    margin-top: 0px;
    float: left;
}

/*      Section 1
==============================*/

#section_1 {
    background-color: #df32df;
}

/*      Section 2
==============================*/

#section_2 {
    background-color: #47e3ff;
}

/*      Section 3
==============================*/

#section_3 {
    background-color: #47ffbf;
}

#section_3 p,
#section_3 h1 {
    color: #333 !important;
}

/*      Section 4
==============================*/

#section_4 {
    background-color: #6347ff;
}

/*      Section 5
==============================*/

#section_5 {
    background-color: #ffbf47;
}

/*      Media Queries
==============================*/

/*Media query for all non-mobile devices*/

/* Página Principal */

/* @media screen and (max-height: 850px) {
    .bio-principal {
        width: 53%;
    }

    .text1 {
        font-size: 5rem;
    }

    .number-vote {
        font-size: 18rem;
    }

    .text2 {
        font-size: 5.5rem;
    }

    .logo-cabo-moraes {
        width: 30%;
    }
} */

@media screen and (max-width: 1600px) {
    .bio-principal {
        width: 44%;
    }

    .text1 {
        font-size: 7rem;
    }

    .number-vote {
        font-size: 24rem;
    }
    
    .text2 {
        font-size: 7rem;
    }

    .logo-cabo-moraes {
        width: 36%;
    }
}

@media screen and (max-width: 1400px) {
    .bio-principal {
        width: 50%;
    }
    
    .text1 {
        font-size: 6rem;
    }
    
    .number-vote {
        font-size: 23rem;
    }

    .text2 {
        font-size: 7rem;
    }

    .text3-2 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 1200px) {
    .bio-principal {
        left: -80px;
        width: 58%;
    }
    
    .text1 {
        font-size: 6rem;
    }
    
    .number-vote {
        font-size: 22rem;
    }

    .text2 {
        font-size: 6.5rem;
    }

    /* .text3 {
        text-align: center;
        font-size: 3rem;
    } */
    
    .text3-1 {
        font-size: 3.5rem;
    }
    
    .text3-2 {
        font-size: 6rem;
    }
    
    .text3-3 {
        font-size: 3.5rem;
    }

    .logo-cabo-moraes {
        width: 42%;
    }
}

@media screen and (max-width: 900px) {
    .bio-principal {
        left: -64px;
        width: 62%;
    }

    .text-e-logo {
        padding: 0px 15px;
    }
}

@media screen and (max-width: 850px) {
    .bio-principal {
        left: -50px;
        width: 60%;
    }
    
    .text1 {
        font-size: 3.5rem;
    }
    
    .number-vote {
        font-size: 17rem;
    }

    .text2 {
        font-size: 5rem;
    }

    .text3 {
        text-align: center;
        font-size: 2rem;
    }
    
    .text3-1 {
        font-size: 3rem;
    }
    
    .text3-2 {
        font-size: 5rem;
    }
    
    .text3-3 {
        font-size: 3rem;
    }

    .logo-cabo-moraes {
        width: 39%;
    }
}

@media screen and (max-width: 650px) {

    /* .texts {
        display: flex;
        align-items: flex-end;
    } */

    .text-vote {
        order: 2; /* Pode ajustar a ordem da div se necessário */
        margin-bottom: .5rem; /* Espaçamento entre as divs */
    }

    .centralizar-text3 {
         /* Alterando a ordem das divs se necessário */
        margin-bottom: 10px;
        text-align: center; /* Centralizando o texto se necessário */
    }

    .bio-principal {
        width: 65%;
    }
}

/* Estilos específicos para telas com 560px de largura */
@media screen and (max-width: 560px) {

    .texts {
        line-height: 1.1;
    }

    .text1 {
        font-size: 4rem;
        margin-top: 18px;
    }

    /* Ajuste adicional, se necessário */
    .number-vote {
        font-size: 13rem;
    }

    .text2 {
        font-size: 4rem;
    }

    .bio-principal {
        width: 65%;
    }
}

@media screen and (max-width: 450px) {

    .text1 {
        font-size: 4rem;
        margin-top: 18px;
    }

    /* Ajuste adicional, se necessário */
    .number-vote {
        font-size: 13rem;
    }

    .text2 {
        font-size: 4rem;
    }
}

/* END Página Principal */

@media screen and (min-width: 780px) {
    
    /*Nav bar media queries!*/
    #m_nav_container {
        text-align: left;
        height: 100px !important;
    }

    .m_nav_item {
        display: inline;
        line-height: 100px;
        margin-right: 50px;
    }

    .m_nav_item a {
        margin-top: 10px;
        font-size: 1.2em;
    }

    #m_nav_item_1 {
        margin-left: 5px;
    }

    /*wrapper media queries*/
    .open_wrapper {
        top: 130px !important;
    }
}

/*Media query for larger, non-mobile devices*/
@media screen and (max-width: 1366px) {
    #m_nav_menu {
        right: 139px;
    }
}

@media screen and (min-width: 1280px) {
    #m_nav_menu {
        right: 146px
    }
}

@media screen and (min-width: 1150px) {
    #m_nav_container {
        text-align: center;
        box-shadow: 0 0 2px #000;
    }


    #m_nav_menu {
        top: 37px;
    }

    .m_nav_item {
        display: inline;
        line-height: 70px;
        margin-right: 52px;
        padding: 0.5em;
    }

    .m_nav_item a {
        margin-top: 10px;
        font-size: 1.2em;
        font-weight: 600;
    }

    /*#toggle_m_nav{
	display: none;
}*/
}

/*
Media query for mid-size non-mobile devices*/
@media screen and (max-width: 1080px) {

    #m_nav_menu {
        right: 109px;
    }

}

@media screen and (max-width: 991px) {
    
    #m_nav_menu {
        right: 120px;
    }

    .m_nav_item {
        display: inline;
        margin-right: 15px;
    }
}

@media screen and (max-width: 900px) {
    #m_nav_menu {
        top: 45px;
        right: 82px;
    }
}

@media screen and (max-width: 800px) {

    #m_nav_container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }

    #m_nav_menu {
        right: 43px;
        top: 46px;
    }
}

@media screen and (max-width: 768px) {

    #m_nav_menu {

        top: 20px;
        right: 30px;

    }

    #m_nav_list {
        display: flex;
        text-align: center;
    }
}

@media screen and (max-width:667px) {
    #m_nav_container {
        display: none;
        height: auto;
    }

    #m_nav_menu {
        display: block;
    }

    .m_nav_ham {
        width: 26px;
        height: 4px;
    }

    #m_nav_list {
        padding: 15px 0;
        gap: 15px;
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .m_nav_item a {
        padding: 10px;
        font-size: 14px;
    }

}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 480px) {
    
}

@media screen and (max-width: 414px) {
}

@media screen and (max-width: 385px) {
    #m_nav_menu {
        top: 15px;
        right: 22px;
    }
}

@media screen and (max-width:320px) {
    #m_nav_menu {
        top: 13px;
        right: 16px;
    }
}